.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.counter pre {
  font-size: 1.5rem;
  width: 5rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

button {
  width: 60px;
  height: 60px;
}