.status {
  font-size: 1.1rem;
  margin: 0.5rem 0 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-template-rows: repeat(3, 4rem);
  gap: 4px;
  margin-bottom: 1rem;
}

.board>button {
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
  font-size: 1.75rem;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

.board>button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.X,
.O {
  cursor: default !important;
}

.wins {
  background-color: #25cf58 !important;
  cursor: default !important;
}
