.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: var(--t-lg);
  letter-spacing: -0.02em;
}

.icon {
  flex: 0 0 auto;
  width: 30px;
  height: auto;
  color: var(--accent);
}
